@font-face {
    font-family: 'Ding';
    src: url(./dinglie.ttf);
}
@font-face {
    font-family: 'aliy';
    src: url(./aliy.ttf);
}
@font-face {
    font-family: 'aliy-bold';
    src: url(./aliy-bold.ttf);
}